In [59]:
import pandas as pd

In [60]:
# By using real data - sklearn

dataset=pd.read_csv("student_habits_performance.csv")
dataset.head(13)

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,NaN,0.0,NaN,1.1,NaN,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,NaN,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,NaN,1,High School,Poor,1,NaN,34.3
3,S1003,23,Female,1.0,3.9,1,No,71.0,9.2,Poor,4,NaN,Good,1,Yes,26.8
4,S1004,19,Female,5.0,NaN,0.5,NaN,90.9,4.9,NaN,3,Master,NaN,1,No,66.4
5,S1005,24,Male,7.2,1.3,0,No,82.9,7.4,Fair,1,Master,Average,4,No,100.0
6,S1006,21,Female,5.6,1.5,1.4,Yes,85.8,6.5,Good,2,Master,Poor,4,No,89.8
7,S1007,21,Female,4.3,1.0,2,Yes,77.7,4.6,Fair,0,Bachelor,Average,8,No,72.6
8,S1008,23,Female,4.4,2.2,1.7,No,100.0,7.1,Good,3,Bachelor,Good,1,No,78.9
9,S1009,18,Female,4.8,3.1,1.3,No,95.4,7.5,Good,5,Bachelor,Good,10,Yes,100.0
10,S1010,19,NaN,4.6,NaN,0.8,No,77.6,5.8,Fair,1,NaN,Good,3,No,63.3
11,S1011,23,Male,3.9,2.4,2.5,No,71.7,7.9,Fair,2,Bachelor,Average,1,No,74.4
12,S1012,19,Female,3.7,2.1,300.4+,Yes,81.1,4.5,Fair,1,Bachelor,Good,9,No,76.9

In [61]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1007 non-null   object
 1   age                            1007 non-null   int64
 2   gender                         1004 non-null   object
 3   study_hours_per_day            1007 non-null   float64
 4   social_media_hours             1004 non-null   float64
 5   netflix_hours                  1007 non-null   object
 6   part_time_job                  1005 non-null   object
 7   attendance_percentage          1007 non-null   float64
 8   sleep_hours                    1007 non-null   float64
 9   diet_quality                   1005 non-null   object
 10  exercise_frequency             1007 non-null   int64
 11  parental_education_level       914 non-null    object
 12  internet_quality               1005 non-null   object
 13  mental_health_rating           1007 non-null   int64
 14  extracurricular_participation  1006 non-null   object
 15  exam_score                     1007 non-null   float64
dtypes: float64(5), int64(3), object(8)
memory usage: 126.0+ KB

In [62]:
dataset.isnull().sum()

student_id                        0
age                               0
gender                            3
study_hours_per_day               0
social_media_hours                3
netflix_hours                     0
part_time_job                     2
attendance_percentage             0
sleep_hours                       0
diet_quality                      2
exercise_frequency                0
parental_education_level         93
internet_quality                  2
mental_health_rating              0
extracurricular_participation     1
exam_score                        0
dtype: int64

In [63]:
# dataset["netflix_hours"].value_counts()
dataset["netflix_hours"].value_counts()['300.4+']

np.int64(3)

In [64]:
dataset["netflix_hours"] = dataset["netflix_hours"].replace('300.4+', '300.4')

In [65]:
dataset["netflix_hours"].value_counts()['300.4']

np.int64(3)

In [66]:
dataset.head(13)

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,NaN,0.0,NaN,1.1,NaN,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,NaN,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,NaN,1,High School,Poor,1,NaN,34.3
3,S1003,23,Female,1.0,3.9,1,No,71.0,9.2,Poor,4,NaN,Good,1,Yes,26.8
4,S1004,19,Female,5.0,NaN,0.5,NaN,90.9,4.9,NaN,3,Master,NaN,1,No,66.4
5,S1005,24,Male,7.2,1.3,0,No,82.9,7.4,Fair,1,Master,Average,4,No,100.0
6,S1006,21,Female,5.6,1.5,1.4,Yes,85.8,6.5,Good,2,Master,Poor,4,No,89.8
7,S1007,21,Female,4.3,1.0,2,Yes,77.7,4.6,Fair,0,Bachelor,Average,8,No,72.6
8,S1008,23,Female,4.4,2.2,1.7,No,100.0,7.1,Good,3,Bachelor,Good,1,No,78.9
9,S1009,18,Female,4.8,3.1,1.3,No,95.4,7.5,Good,5,Bachelor,Good,10,Yes,100.0
10,S1010,19,NaN,4.6,NaN,0.8,No,77.6,5.8,Fair,1,NaN,Good,3,No,63.3
11,S1011,23,Male,3.9,2.4,2.5,No,71.7,7.9,Fair,2,Bachelor,Average,1,No,74.4
12,S1012,19,Female,3.7,2.1,300.4,Yes,81.1,4.5,Fair,1,Bachelor,Good,9,No,76.9

In [67]:
dataset["netflix_hours"]=dataset["netflix_hours"].astype("float64")

In [68]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1007 non-null   object
 1   age                            1007 non-null   int64
 2   gender                         1004 non-null   object
 3   study_hours_per_day            1007 non-null   float64
 4   social_media_hours             1004 non-null   float64
 5   netflix_hours                  1007 non-null   float64
 6   part_time_job                  1005 non-null   object
 7   attendance_percentage          1007 non-null   float64
 8   sleep_hours                    1007 non-null   float64
 9   diet_quality                   1005 non-null   object
 10  exercise_frequency             1007 non-null   int64
 11  parental_education_level       914 non-null    object
 12  internet_quality               1005 non-null   object
 13  mental_health_rating           1007 non-null   int64
 14  extracurricular_participation  1006 non-null   object
 15  exam_score                     1007 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 126.0+ KB

In [69]:
dataset["netflix_hours"].value_counts()

netflix_hours
0.0    60
2.0    48
1.7    42
1.4    41
1.6    39
       ..
4.6     1
4.5     1
5.4     1
5.3     1
4.9     1
Name: count, Length: 61, dtype: int64