In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [153]:
dataset = pd.read_csv(r"student_habits_performance.csv") # load dataset -> r- raw string
dataset.head(6) # to show data of 3 rows

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,NaN,0.0,NaN,1.1,NaN,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,NaN,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,NaN,1,High School,Poor,1,NaN,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,NaN,Good,1,Yes,26.8
4,S1004,19,Female,5.0,NaN,0.5,NaN,90.9,4.9,NaN,3,Master,NaN,1,No,66.4
5,S1005,24,Male,7.2,1.3,0.0,No,82.9,7.4,Fair,1,Master,Average,4,No,100.0

In [64]:
dataset.isnull().sum().sum()

np.int64(103)

In [85]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             997 non-null    float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB

In [55]:
 # dataset["gender"].mode()[0]

In [86]:
for i in dataset.select_dtypes(include="object").columns:
    dataset[i].fillna(dataset[i].mode()[0])

In [84]:
dataset.isnull().sum()

student_id                       0
age                              0
gender                           0
study_hours_per_day              0
social_media_hours               3
netflix_hours                    0
part_time_job                    0
attendance_percentage            0
sleep_hours                      0
diet_quality                     0
exercise_frequency               0
parental_education_level         0
internet_quality                 0
mental_health_rating             0
extracurricular_participation    0
exam_score                       0
dtype: int64

In [87]:
dataset.select_dtypes(include="object").columns

Index(['student_id', 'gender', 'part_time_job', 'diet_quality',
       'parental_education_level', 'internet_quality',
       'extracurricular_participation'],
      dtype='object')

In [88]:
en_data=dataset[['gender', 'part_time_job', 'diet_quality',
       'parental_education_level', 'internet_quality',
       'extracurricular_participation']]

In [120]:
pd.get_dummies(en_data)

,gender_Female,gender_Male,gender_Other,part_time_job_No,part_time_job_Yes,diet_quality_Fair,diet_quality_Good,diet_quality_Poor,parental_education_level_Bachelor,parental_education_level_High School,parental_education_level_Master,internet_quality_Average,internet_quality_Good,internet_quality_Poor,extracurricular_participation_No,extracurricular_participation_Yes
0,True,False,False,True,False,True,False,False,False,False,True,True,False,False,False,True
1,True,False,False,True,False,False,True,False,False,True,False,False,True,False,True,False
2,False,True,False,True,False,True,False,False,False,True,False,False,False,True,True,False
3,True,False,False,True,False,False,False,True,False,True,False,False,True,False,False,True
4,True,False,False,True,False,True,False,False,False,False,True,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,True,False,False,True,False,True,False,False,False,True,False,False,True,False,False,True
996,True,False,False,False,True,False,False,True,False,True,False,True,False,False,False,True
997,False,True,False,True,False,False,True,False,True,False,False,False,True,False,False,True
998,False,True,False,False,True,True,False,False,True,False,False,True,False,False,True,False
999,True,False,False,True,False,False,True,False,True,False,False,True,False,False,True,False

In [121]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   gender_Female                         1000 non-null   bool
 1   gender_Male                           1000 non-null   bool
 2   gender_Other                          1000 non-null   bool
 3   part_time_job_No                      1000 non-null   bool
 4   part_time_job_Yes                     1000 non-null   bool
 5   diet_quality_Fair                     1000 non-null   bool
 6   diet_quality_Good                     1000 non-null   bool
 7   diet_quality_Poor                     1000 non-null   bool
 8   parental_education_level_Bachelor     1000 non-null   bool
 9   parental_education_level_High School  1000 non-null   bool
 10  parental_education_level_Master       1000 non-null   bool
 11  internet_quality_Average              1000 non-null   bool
 12  internet_quality_Good                 1000 non-null   bool
 13  internet_quality_Poor                 1000 non-null   bool
 14  extracurricular_participation_No      1000 non-null   bool
 15  extracurricular_participation_Yes     1000 non-null   bool
dtypes: bool(16)
memory usage: 15.8 KB

In [142]:
ohe = OneHotEncoder(drop='first')
ar = ohe.fit_transform(en_data).toarray()

In [143]:
ar

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       ...,
       [1., 0., 0., ..., 1., 0., 1.],
       [1., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [144]:
ar.shape

(1000, 10)

In [151]:
# columns_list = ['gender_Female','gender_Male','gender_Other',
#            'part_time_job_No','part_time_job_Yes',
#            'diet_quality_Fair','diet_quality_Good','diet_quality_Poor',
#            'parental_education_level_Bachelor','parental_education_level_High School',
#            'parental_education_level_Master','internet_quality_Average',
#            'internet_quality_Good','internet_quality_Poor',
#            'extracurricular_participation_No','extracurricular_participation_Yes']


# Automatically get simplified column names
columns_list = ohe.get_feature_names_out(en_data.columns)
# print(len(columns_list))
print(columns_list)

['gender_Male' 'gender_Other' 'part_time_job_Yes' 'diet_quality_Good'
 'diet_quality_Poor' 'parental_education_level_High School'
 'parental_education_level_Master' 'internet_quality_Good'
 'internet_quality_Poor' 'extracurricular_participation_Yes']

In [152]:
df = pd.DataFrame(ar, columns=columns_list)
df

,gender_Male,gender_Other,part_time_job_Yes,diet_quality_Good,diet_quality_Poor,parental_education_level_High School,parental_education_level_Master,internet_quality_Good,internet_quality_Poor,extracurricular_participation_Yes
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
996,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
997,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
998,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0